Business Problem: built a machine learning model and get the good train test accuracy , also find the top 5 features which are most affecting the performance rating

In [2]:
#Data Collect
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('/Users/saurabhingole/Downloads/bepec/Machine Learning/regression and classification/INX_Future_Inc_Employee_Performance_CDS_Project2_Data_V1.8.xls')

In [4]:
#Data Understanding - Reporting
data.shape

(1200, 28)

In [5]:
data.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3

In [6]:
#data cleaning

In [7]:
data.columns

Index(['EmpNumber', 'Age', 'Gender', 'EducationBackground', 'MaritalStatus',
       'EmpDepartment', 'EmpJobRole', 'BusinessTravelFrequency',
       'DistanceFromHome', 'EmpEducationLevel', 'EmpEnvironmentSatisfaction',
       'EmpHourlyRate', 'EmpJobInvolvement', 'EmpJobLevel',
       'EmpJobSatisfaction', 'NumCompaniesWorked', 'OverTime',
       'EmpLastSalaryHikePercent', 'EmpRelationshipSatisfaction',
       'TotalWorkExperienceInYears', 'TrainingTimesLastYear',
       'EmpWorkLifeBalance', 'ExperienceYearsAtThisCompany',
       'ExperienceYearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'Attrition', 'PerformanceRating'],
      dtype='object')

In [8]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for column in ['EmpNumber','Gender', 'EducationBackground', 'MaritalStatus','EmpDepartment', 'EmpJobRole', 'BusinessTravelFrequency','OverTime','Attrition']:
    data[column] = label_encoder.fit_transform(data[column])

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   EmpNumber                     1200 non-null   int64
 1   Age                           1200 non-null   int64
 2   Gender                        1200 non-null   int64
 3   EducationBackground           1200 non-null   int64
 4   MaritalStatus                 1200 non-null   int64
 5   EmpDepartment                 1200 non-null   int64
 6   EmpJobRole                    1200 non-null   int64
 7   BusinessTravelFrequency       1200 non-null   int64
 8   DistanceFromHome              1200 non-null   int64
 9   EmpEducationLevel             1200 non-null   int64
 10  EmpEnvironmentSatisfaction    1200 non-null   int64
 11  EmpHourlyRate                 1200 non-null   int64
 12  EmpJobInvolvement             1200 non-null   int64
 13  EmpJobLevel                   1200 non-null   int64
 14  EmpJobSatisfaction            1200 non-null   int64
 15  NumCompaniesWorked            1200 non-null   int64
 16  OverTime                      1200 non-null   int64
 17  EmpLastSalaryHikePercent      1200 non-null   int64
 18  EmpRelationshipSatisfaction   1200 non-null   int64
 19  TotalWorkExperienceInYears    1200 non-null   int64
 20  TrainingTimesLastYear         1200 non-null   int64
 21  EmpWorkLifeBalance            1200 non-null   int64
 22  ExperienceYearsAtThisCompany  1200 non-null   int64
 23  ExperienceYearsInCurrentRole  1200 non-null   int64
 24  YearsSinceLastPromotion       1200 non-null   int64
 25  YearsWithCurrManager          1200 non-null   int64
 26  Attrition                     1200 non-null   int64
 27  PerformanceRating             1200 non-null   int64
dtypes: int64(28)
memory usage: 262.6 KB

In [10]:
#Split the Data into Input & Output

In [11]:
X = data.iloc[:,:27]

In [12]:
X.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,0,32,1,2,2,5,13,2,10,3,...,12,4,10,2,2,10,7,0,8,0
1,1,47,1,2,2,5,13,2,14,4,...,12,4,20,2,3,7,7,1,7,0
2,2,40,1,1,1,5,13,1,5,4,...,21,3,20,2,3,18,13,1,12,0
3,3,41,1,0,0,3,8,2,10,4,...,15,2,23,2,2,21,6,12,6,0
4,4,60,1,2,2,5,13,2,16,4,...,14,4,10,1,3,2,2,2,2,0

In [13]:
y = data.iloc[:,27:]

In [14]:
y.head(2)

   PerformanceRating
0                  3
1                  3

In [15]:
data.shape

(1200, 28)

In [16]:
#Split the Data into Train & Test
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test =train_test_split(X,y, test_size = 0.2, random_state = 1000)

In [18]:
X_train

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
546,546,55,1,5,0,2,4,2,22,3,...,12,4,8,1,3,4,2,1,2,0
103,103,32,1,1,2,1,3,2,25,4,...,24,3,1,2,1,1,0,0,1,1
1103,1103,30,0,1,2,1,3,2,2,3,...,20,3,11,2,3,5,4,0,2,0
209,209,27,1,1,1,4,16,0,8,5,...,19,4,3,4,3,3,2,1,2,0
738,738,36,0,1,0,4,10,1,4,2,...,13,2,18,3,3,4,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,552,43,1,3,1,5,13,2,2,3,...,17,1,10,3,3,10,9,8,8,0
769,769,30,1,1,0,1,15,2,24,1,...,22,2,1,2,3,1,0,0,0,0
350,350,25,1,3,1,4,7,2,19,1,...,11,3,7,6,2,3,2,1,2,0
71,71,27,1,3,1,1,3,0,3,3,...,11,3,0,6,2,0,0,0,0,0
599,599,31,0,2,1,5,13,2,29,4,...,14,1,13,3,3,12,7,5,7,0

In [19]:
y_train

      PerformanceRating
546                   2
103                   3
1103                  4
209                   2
738                   3
...                 ...
552                   3
769                   4
350                   3
71                    3
599                   2

[960 rows x 1 columns]

In [20]:
#ML Training

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [22]:
#model = LogisticRegression()
model = DecisionTreeClassifier()

In [23]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [24]:
model.feature_importances_

array([0.06221701, 0.00855827, 0.        , 0.0063133 , 0.00402483,
       0.08339524, 0.00345329, 0.00811221, 0.00766677, 0.01455525,
       0.23169733, 0.01267589, 0.00437753, 0.        , 0.00375217,
       0.01112962, 0.        , 0.20058886, 0.        , 0.01234105,
       0.01974349, 0.03992583, 0.02913101, 0.03730488, 0.18670395,
       0.01003925, 0.00229299])

this helps us to know which features or columns are most affecting our output column

# Top 5 factors affecting PerformanceRating

In [ ]:
1.] EmpEnvironmentSatisfaction
2.] EmpLastSalaryHikePercent
3.] YearsSinceLastPromotion
4.] EmpDepartment
5.] EmpNumber

In [26]:
data.columns

Index(['EmpNumber', 'Age', 'Gender', 'EducationBackground', 'MaritalStatus',
       'EmpDepartment', 'EmpJobRole', 'BusinessTravelFrequency',
       'DistanceFromHome', 'EmpEducationLevel', 'EmpEnvironmentSatisfaction',
       'EmpHourlyRate', 'EmpJobInvolvement', 'EmpJobLevel',
       'EmpJobSatisfaction', 'NumCompaniesWorked', 'OverTime',
       'EmpLastSalaryHikePercent', 'EmpRelationshipSatisfaction',
       'TotalWorkExperienceInYears', 'TrainingTimesLastYear',
       'EmpWorkLifeBalance', 'ExperienceYearsAtThisCompany',
       'ExperienceYearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'Attrition', 'PerformanceRating'],
      dtype='object')

In [27]:
#ML Testing

In [28]:
y_pred = model.predict(X_test)

In [29]:
y_pred_tr = model.predict(X_train)

In [30]:
#Evaluate the Model
from sklearn.metrics import accuracy_score

In [31]:
accuracy_score(y_test, y_pred)

0.8791666666666667

In [32]:
#Train Accuracy
accuracy_score(y_train, y_pred_tr)

1.0